# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log
logs/
debug.log

# Build and dist folders
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# NPM debug file
npm-debug.log*
